<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.playIdiom.PlayIdiomDao">
    <resultMap id="IdiomMap" type="com.example.demo.pojo.playIdiom.PlayIdiom">
        <id property="id" column="id" />
        <id property="idiom" column="idiom" />
    </resultMap>
    <select id="queryAll" resultMap="IdiomMap">
        SELECT
    *
FROM
    `play_idiom`
WHERE
    id >= (
        SELECT
            floor(
                RAND() * (SELECT MAX(id) FROM `play_idiom`)
            )
    )
ORDER BY
    id
LIMIT 8;
    </select>
</mapper>

